# Ignore development files and directories
node_modules
.next

# Ignore files and directories generated during build
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*

# Ignore Git files
.git
.gitignore

# Ignore Docker files
.dockerignore
Dockerfile
